/* src/App.css */
.container {
  text-align: center;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  font-family: Arial, sans-serif;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

.input-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

input {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.addButton {
  padding: 10px 15px;
  background-color: rgb(158, 14, 14);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.list-container {
  list-style: none;
  padding: 0;
}


.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4f4f4;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}
